<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <h3>Для авторизации введите логин и пароль</h3>
     <p>Логин</p><input></input>
     <p>Пароль</p><input></input><br /><br />
    <button>Авторизация</button>

    <h3>Для добавления записи введите название предмета, имя пользователя и номер группы</h3>
     <p>Название предмета</p><input></input>
    <p>Имя</p> <input></input>
     <p>Номер группы</p><input></input><br /><br />
    <button>Добавить задание</button>

    <h3>Для удаления записи введите ID задания и имя пользователя </h3>
    <p>ID предмета</p> <input></input>
    <p>Имя</p> <input></input><br /><br />
    <button>Удалить</button>

    <h3>Для вывода задания введите ID студента, ID предмета, имя пользователя и группу </h3>
    <p>ID студента</p><input></input>
    <p>ID предмета</p><input></input>
   <p>Имя</p> <input></input>
    <p>Группа</p><input></input><br /><br />
    <button>Вывод</button>

    <h3>Для изменения задания введите ID студента, ID предмета, имя пользователя и группу</h3>
    <p>ID студента</p><input></input>
    <p>ID предмета</p><input></input>
    <p>Имя</p><input></input>
    <p>Группа</p><input></input><br /><br />
    <button>Изменить</button>
</head>
<body>

</body>
</html>